<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Mono</title>
  <meta name="description" content="A simple fixed width font blog">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Cousine:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/tachyons.css">
  <link rel="stylesheet" href="assets/css/custom.css">
</head>
<body>

<div class="w-60-ns w-90-m w-100 pv5 ph6-ns ph4">
  <nav class="mb5">
    <a href="/" class="active">Home</a> <span class="di mh2">·</span> <a href="posts.html">Blog</a> <span class="di mh2">·</span> <a href="https://creativemarket.com/kehers">More templates</a>
  </nav>

  <h1 class="lh-title mb-5">Mono</h1>
  <section>
    <h3 class="lh-title">About</h3>
    <p>Mono is a <span class="highlight">lightweight fixed-width font, single column</span>, blogging template. It is built using <a href="http://tachyons.io/">tachyons</a> CSS toolkit and uses Disqus for commenting.</p>
  </section>
  <section>
    <h3 class="lh-title">Plug</h3>
    <p><a href="http://thenow.page/?ref=now">Now</a> is your new "what I'm up to" page.</p>
    <p><a href="http://sharedbox.app/?ref=mono">SharedBox</a> is Shared inbox and help desk built on Slack.</p>
  </section>
  <section>
    <h3 class="lh-title">Some header</h3>
    <p>Some other content here. <a href="http://twitter.com/kehers">Twitter</a> maybe?</p>
  </section>
</div>

<footer class="w-60-ns w-100 pv5 ph6-ns ph4">
  <p>&copy; Mono – <a href="/">Home</a> · <a href="/posts.html">Blog Posts</a> · <a href="/feed.xml">RSS</a></p>  
</footer>

</body>
</html>
