<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>IMAP: new messages since last check</title>

  <link href="https://fonts.googleapis.com/css?family=Cousine:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/tachyons.css">
  <link rel="stylesheet" href="assets/css/custom.css">
  <link rel="stylesheet" href="assets/css/monokai.css" />
  <!-- You can replace monokai with zenburn -->
  <!-- <link rel="stylesheet" href="assets/css/zenburn.css" /> -->
</head>
<body>


  <div class="w-60-ns w-90-m w-100 pv5 ph6-ns ph4">
    <nav class="mb5">
      <a href="/">Home</a> <span class="di mh2">·</span> <a href="posts.html" class="active">Blog</a> <span class="di mh2">·</span> <a href="https://creativemarket.com/kehers">More templates</a>
    </nav>  

    <section>
      <article>

        <date class="fade">20 Sep 2019</date>
        <h1 class="lh-title mb5">The Now page</h1>
        <p>I have been thinking of mindful journaling of late. I’ll guess it’s a subconscious result of ideas I’ve seen across different places in the last couple of months–a question based social network (you get regular general question prompts), <a href="https://cactus.app/">Cactus</a>, and <strong>Now</strong> pages on some personal blogs.</p>

        <p>I redesigned my <a href="http://obem.be/opeyemi">blog</a> about 2 weeks ago and decided to add a Now page. Then it stuck. Imagine a simple way to publish what I am currently up to (or some sort of journal), but with some social built around it. I can almost hear you scream that’s Tumblr/Facebook/Twitter…but this is different.</p>

        <p>A <a href="https://sivers.org/nowff">now page</a> shows a single post about what you are up to. It’s not a series of blog posts or series of status updates. And this is the base I fleshed the idea on. At every point, it will only be a single post updated with recent events. A new post overwrites your last public post. (In reality, all your previous posts are archived so you can still have private access to them). The caveat I have also added is that you can set how frequent you want to publish this–once daily, every 3 days or weekly. The goal here is to change preconceived “another blogging/status update site” bias. Once you make a post, you have to wait that interval before you can make a new post. (In reality, you can delete your last post or update your frequency and that will allow you post immediately).</p>

        <p>Yes I mentioned social but you can loosely translate that to mean following pages you are interested in so that updates from them become available in your dashboard feed. The caveat: no public display of the following/follower counts. The numbers are only available to you. No commenting, rating or any of those things.</p>

        <p>I spent some free time in the last couple of days to build a prototype you can check out at <a href="https://thenow.page/">thenow.page</a>. (I used Twitter for authentication because it’s a quick way to get data for quick profiles). Play around, write some stuff and publish your “now”. It’s a quick prototype so things may break here and there but I am happy to get the feedback and hear your thoughts. I am <a href="https://twitter.com/kehers">@kehers</a> on twitter.</p>

      </article>
      
      <h3>&nbsp;</h3>
      <p class="b">Next post: <a href="post.html">IMAP: new messages since last check</a></p>
    </section>
  </div>

  <div class="colophon">
    <div class="w-60-ns w-100 pt4 ph6-ns ph4">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'kehers';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
      </div>
    </div>
  </div>

  <footer class="w-60-ns w-100 pv5 ph6-ns ph4">
    <p>&copy; Mono – <a href="/">Home</a> · <a href="/posts.html">Blog Posts</a> · <a href="/feed.xml">RSS</a></p>  
  </footer>

</body>
</html>
