<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Mono</title>
  <meta name="description" content="A simple fixed width font blog">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Cousine:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/tachyons.css">
  <link rel="stylesheet" href="assets/css/custom.css">
</head>
<body>

  <div class="w-60-ns w-90-m w-100 pv5 ph6-ns ph4">
    <nav class="mb5">
      <a href="/">Home</a> <span class="di mh2">·</span> <a href="posts.html" class="active">Blog</a> <span class="di mh2">·</span> <a href="https://creativemarket.com/kehers">More templates</a>
    </nav>

    <h1 class="lh-title mb-5">Ideas, rants and everything between</h1>
    <section>
      <h3 class="mb1 mt4"><a href="post-1.html">The Now page</a></h3>
      <p class="mt1"><date class="fade">20 Sep 2019</date></p>
      <h3 class="mb1 mt4"><a href="post.html">IMAP: new messages since last check</a></h3>
      <p class="mt1"><date class="fade">01 May 2019</date></p>
    </section>
  </div>

  <footer class="w-60-ns w-100 pv5 ph6-ns ph4">
    <p>&copy; Mono – <a href="/">Home</a> · <a href="/posts.html">Blog Posts</a> · <a href="/feed.xml">RSS</a></p>  
  </footer>

</body>
</html>