html {
  font-family: 'Muli', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}
a {
  text-decoration: none
}
h1, h2, h3, h4, p{
  padding: 10px;
  line-height: 1.5em;
}
h1 {
  font-size: 2.2rem;
  line-height: 1.2em;
  font-family: 'Bitter', serif;
}
h2 {
  font-family: 'Bitter', serif;
  font-size: 1.414rem;
  color: #390;
}
h3 {
  font-size: 1.155rem;
}
h4 {
  font-size: 1rem;
}

.no-margin {
  margin: 0 !important;
}

.wrapper {
  margin: 0 auto;
  width: 920px;
}

nav {
  background-color: #b93423;
  border-top: 1px solid #a52a19;
  border-bottom: 1px solid #a52a19;
}

nav ul {
  list-style: none;
}
nav ul li {
  float: left
}
nav ul li a {
  display: block;
  font-weight: bold;
  padding: 15px 30px;
  font-size: 0.85rem;
  color: #fff;
  text-decoration: none;
  border-left: 1px solid #e56250;
  border-right: 1px solid #4c130c;
}
nav ul li:first-child a{
  border-left: 1px solid #b93423;
}
nav ul li:last-child a{
  border-right: 1px solid #b93423;
}
nav ul li a:hover {
  color: #962617;
  background-color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #4c130c;
}

.logo {
  margin: 0;
}
.panel {
  border: 1px solid #eee;
}
.red {
  color: #b93423;
}
.white-bg {
  background-color: #fff;
}
.green-bg {
  background-color: #459208;
  color: #fff;
}
.red-bg {
  background-color: #b93423;
  color: #fff;
}
.yellow-bg {
  background-color: #fcd333;
}
.gray-bg {
  background-color: #f2f2f2;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.columns {
  float: left;
  box-sizing: border-box;
}
.one-two {
  width: 50%;
}
.one-four {
  width: 25%;
}
.one-third {
  width: 33.33%;
}

.pad-10 {
  padding: 10px;
}
.pad-20 {
  padding: 20px;
}

.banner {
  background: #fff;
  height: 400px;
}
.banner-b {
  background: url('../img/knowledge.png') no-repeat center;
  height: 400px;
}

.more {
  display: inline-block;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.2rem;
  font-family: 'Bitter', serif;
  color: #b93423;
  font-weight: bold;
  /*
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #fcf621;
  */
}
.more:hover {
  color: #fcd333;
}

footer{
  padding-top: 20px;
  font-size: 0.9rem;
  color: #888;
}
footer ul {
  list-style: none
}
footer ul li {
  margin: 5px 0
}
footer h4 {
  color: #555;
  margin: 10px 0;
  padding: 0;
}
footer a {
  color: #888;
}
footer a:hover {
  text-decoration: underline;
}
.footer-line {
  padding-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
}
.colophon {
  border-top: 1px solid #fff;
  text-align: center;
  padding: 20px;
}

.subnav {
  display: none;
}
