html {
  font-family: 'Open Sans', serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
}
.clear {
  clear:both;
}

header {
  background-color: #fff;
}
body {
  background-color: #fafafa;
}
a {
  text-decoration: none
}
h1, h2, h3, h4, p{
  padding: 10px;
  line-height: 1.5em;
}
h1 {
  font-size: 2.2rem;
  line-height: 1.2em;
  font-family: 'Bitter', serif;
}
h2 {
  font-family: 'Bitter', serif;
  font-size: 1.414rem;
  color: #390;
}
h3 {
  font-size: 1.155rem;
}
h4 {
  font-size: 1rem;
}

.no-margin {
  margin: 0 !important;
}

.wrapper {
  margin: 0 auto;
  width: 920px;
}

nav {
  background-color: #fff;
  float: right;
  /*padding: 10px 0*/
}

nav ul {
  list-style: none;
  float:left;
  width:100%;
  /*background-color: #b93423;
  border-top: 1px solid #a52a19;
  border-bottom: 1px solid #a52a19;*/
}
nav ul li {
  float: left
}
nav ul li a {
  display: block;
  font-weight: bold;
  padding: 60px 23px 20px;
  font-size: 0.85rem;
  color: #444;
  text-decoration: none;
  border-left: 1px solid #e5e5e5;
  /*
  border-bottom: 3px solid #e5e5e5;
  border-right: 1px solid #4c130c;
}
nav ul li:first-child a{
  border-left: 1px solid #b93423;*/
}
nav ul li:last-child a{
  border-right: 1px solid #e5e5e5;
}
nav ul li a:hover {
  color: #962617;
  /*background-color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #4c130c;*/
}
nav ul li a.active {
  color: #fff;
  background-color: #df3918
}

.logo {
  margin: 0;
  padding: 40px 0;
  float: left
}
.panel {
  /*border: 1px solid #eee;*/
}
.red {
  color: #b93423;
}
.white-bg {
  background-color: #fff;
}
.green-bg {
  height: 235px;
  background-color: #459208;
  color: #fff;
}
.green-bg h2{
  color: #fff !important;
}
.red-bg {
  height: 235px;
  background-color: #b93423;
  color: #fff;
}
.red-bg h2 {
  color: #fff !important
}
.yellow-bg {
  height: 235px;
  background-color: #fcd333;
}
.yellow-bg h2 {
  color: #444 !important;
}
.gray-bg {
  background-color: #f2f2f2;
}

.white-bg h2 {
  color: #df3918;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.columns {
  float: left;
  box-sizing: border-box;
}
.one-two {
  width: 50%;
}
.one-four {
  width: 25%;
}
.one-third {
  width: 33.33%;
}

.pad-10 {
  padding: 10px;
}
.pad-20 {
  padding: 20px;
}
.margin-10 {
  margin: 10px
}

.banner {
  background: #fff;
  height: 450px;
}
.banner .row {
  background: url('../img/knowledge.png') no-repeat center right
}
.banner-b {
  background: url('../img/knowledge.png') no-repeat center;
  height: 400px;
}

.more {
  display: inline-block;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.2rem;
  font-family: 'Bitter', serif;
  color: #fcd333;
  font-weight: bold;
  /*
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #fcf621;
  */
}
.more:hover {
  color: #fff;
}

footer{
  font-size: 0.9rem;
  color: #888;
}
footer ul {
  list-style: none
}
footer ul li {
  margin: 5px 0
}
footer h4 {
  color: #fff;
  margin: 10px 0;
  padding: 0;
}
footer a {
  color: #c3c3c3;
}
footer a:hover {
  text-decoration: underline;
}
.footer-line {
  padding: 20px;
  border-bottom: 1px solid #191919;
  background-color: #222;
}
.colophon {
  background-color: #111;
  border-top: 1px solid #080808;
  text-align: center;
  padding: 20px;
}

.subnav {
  display: none;
}
