html {
  font-family: 'Open Sans', serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clear {
  clear:both;
}

header {
  background-color: #fff;
}
body {
  background-color: #fafafa;
}
a {
  text-decoration: none
}
h1, h2, h3, h4, p{
  padding: 10px;
  line-height: 1.5em;
}
h1 {
  font-size: 2.2rem;
  line-height: 1.2em;
  /*font-family: 'Bitter', serif;*/
}
h2 {
  /*font-family: 'Bitter', serif;*/
  font-size: 1.414rem;
  color: #390;
}
h3 {
  /*font-family: 'Bitter', serif;*/
  font-size: 1.155rem;
}
h4 {
  font-size: 1rem;
}

.no-margin {
  margin: 0 !important;
}

.wrapper {
  margin: 0 auto;
  width: 920px;
}

nav {
  background-color: #fff;
  float: right;
  /*padding: 10px 0*/
}

nav > ul {
  list-style: none;
  float:left;
  width:100%;
}
nav > ul > li {
  float: left;
  position: relative;
}
nav > ul > li > a {
  display: block;
  font-weight: bold;
  padding: 60px 23px 20px;
  font-size: 0.85rem;
  color: #444;
  text-decoration: none;
  border-left: 1px solid #e5e5e5;
}
nav > ul > li:last-child a{
  border-right: 1px solid #e5e5e5;
}
nav > ul > li a:hover {
  color: #962617;
  /*background-color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #4c130c;*/
}
nav > ul > li > a.active {
  color: #fff;
  background-color: #df3918
}

p {
  font-size: 0.85rem;
}
ol.numbered {
  margin: 20px 50px;
}

.logo {
  margin: 0;
  padding: 40px 0 30px;
  float: left
}
.search {
  float: right;
  width: 300px;
  padding: 20px 0 20px;
}
.search form {
  width: 300px;
  padding: 0;
  float: right;
  background: url(../img/search.png) right center no-repeat;
  display: inline;
  font-size: 100%;
  border-radius: 5px;
  padding: 3px 25px 3px 3px;
  border: 1px solid #aca899;
}
.search input {
  border: 0;
  width: 250px;
  padding: 0;
  outline: none;
}
.search input:focus,
.search input:hover
 {
  outline: none;
}
.panel {
  /*border: 1px solid #eee;*/
}
.red {
  color: #b93423;
}
.white-bg {
  background-color: #fff;
}
.green-bg {
  height: 200px;
  background-color: #459208;
  color: #fff;
}
.green-bg h2{
  color: #fff !important;
}
.red-bg {
  height: 200px;
  background-color: #b93423;
  color: #fff;
}
.red-bg h2 {
  color: #fff !important
}
.yellow-bg {
  height: 200px;
  background-color: #fcd333;
}
.yellow-bg h2 {
  color: #444 !important;
}
.gray-bg {
  background-color: #f2f2f2;
}
.gray-bg-b {
  background-color: #f2f2f2;
}

.has-dropdown:hover .subnav{
  display: block;
}

.white-bg h2, .white-bg h3 {
  color: #df3918;
}

.yaxis {
  float:left;
  width: 35px;
}
.xaxis {
  border-bottom: 1px solid #ccc;
  float:left;
  padding-bottom: 20px;
}

.contact-icons {
  text-align: center;
  margin: 20px 0;
}
.contact-icons .columns{
  height: 200px;
}
.contact-icons a {
  display: block;
  padding: 30px 10px;
  font-size: 1.155rem;
  color: #df3918;
}
.contact-icons a:hover {
  color: #df3918;
}

.gridb {
  margin: 20px 0;
}
.gridb .columns {
  min-height: 350px
}
.gridb h4 {
  margin-bottom: 10px
}
.gridb p {
  color: #777;
  padding-top: 20px;
}
.gridb img {
  display: block;
  margin: 0 auto;
  padding: 10px;
}
.grid .columns {
  border-right: 1px solid #ddd;
  padding: 10px;
  border-top: 1px solid #ddd;
}
.grid h3 {
  background-color: #f2f2f2
}
.center {
  text-align: center;
}

form {
  padding: 0 20px 20px ;
}
form p {
  padding: 0 5px;
}
form h3 {
  padding-left: 0;
}
form label {
  display: block;
  padding: 5px 0;
  font-weight: bold;
}
form div {
  padding: 5px 0;
}
input, select, textarea {
  padding: 7px;
  font-size: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #aca899;
}
textarea {
  padding: 10px;
  height: 200px;
}
select {
  -webkit-appearance:none;
}
.btn,
button {
  border: 1px solid #fff;
  padding:10px 40px;
  font-size:120%;
  background-color: #09A3DE;
  color: #fff;
  border-radius: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.columns {
  float: left;
  box-sizing: border-box;
}
.one {
  width: 100%;
}
.one-two {
  width: 50%;
}
.one-four {
  width: 25%;
}
.one-third {
  width: 33.33%;
}

.pad-10 {
  padding: 10px;
}
.pad-20 {
  padding: 20px;
}
.pad-40 {
  padding: 40px;
}
.margin-10 {
  margin: 10px
}

.right-bordered .one-third {
  border-right:1px solid #ddd
}

.banner {
  /*background: #fff;
  height: 450px;*/
}
.banner .row {
  background: #df3918 url('../img/knowledge.png') no-repeat center right
}

.more {
  display: inline-block;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.2rem;
  color: #fcd333;
  font-weight: bold;
  /*
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #fcf621;
  */
}
.more:hover {
  color: #fff;
}


footer{
  font-size: 0.9rem;
  color: #888;
}
footer ul {
  list-style: none
}
footer ul li {
  margin: 5px 0
}
footer h4 {
  color: #fff;
  margin: 10px 0;
  padding: 0;
}
footer a {
  color: #c3c3c3;
}
footer a:hover {
  text-decoration: underline;
}
.footer-line {
  padding: 20px;
  border-bottom: 1px solid #191919;
  background-color: #222;
}
.colophon {
  background-color: #111;
  border-top: 1px solid #080808;
  text-align: center;
  padding: 20px;
}

.subnav {
  display: none;
  list-style: none;
  float: none;
  margin-top: -5px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 0;
  border:1px solid #e5e5e5;
  position: absolute;
  z-index: 100
}
.subnav li {
  padding: 5px 10px 7px;
  border-bottom:1px solid #f2f2f2;
  width: 200px;
}
.subnav li a {
  font-size: 0.85rem;
  display:block;
  color: #444;
}
.tbl {
  width: 100%;
  border-collapse: collapse;
}
.tbl td {
  vertical-align: top;
  padding: 10px;
}
.tbl tr:nth-child(odd) {
   background-color: #fafafa;
}

.price {
  border: 1px solid #ddd;
  margin: 20px 0;
  text-align: center
}
.price ul {
  list-style: none
}
.price li {
  border-bottom: 1px solid #f2f2f2;
  padding: 10px;
  font-size: 0.85rem;
}
.price h2 {
  color: #fafafa;
}
.price div {
  color: #fff;
  padding: 10px;
}
