body {
  font-family: 'Muli', arial, sans-serif;
  color: #333;
}

.container {
  min-width: 90%;
}
article {
  margin: 150px 0 50px;
}
article p a {
  text-decoration: underline
}
article img {
  max-width: 100%
}
code {
  border: none;
  color: #ddd;
  background-color: transparent
}
pre > code {
  color: #ddd;
}
figure {
  margin: 0 0 0 -20px;
}
ul, ol {
  margin-left: 40px;
  list-style-position: outside;
}

.title {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 50px;
  color: #111;
}
.libre {
  font-family: 'Libre Baskerville', serif;
}
.no-margin {
  margin: 0;
}
#logo {
  margin-top: 20px;
}
#logo a {
  font-family: 'Libre Baskerville', serif;
  color: #463087;
}
nav {
  text-align: right;
  padding-top: 10px;
}
nav ul {
  list-style: none;
  margin: 0;
}
nav li {
  display: inline;
}
nav li a {
  display: inline-block;
  padding: 10px 5px;
  font-family: 'Libre Baskerville', serif;
  margin: 10px;
  border-bottom: 1px solid #fff;
}
nav li a:hover, nav a.active {
  border-bottom: 1px solid #e7e3f5
}
nav a.active {
  color: #444;
}
nav li a.bordered {
  background-color: #7459c4;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fcfcfe;
}
nav li a.bordered:hover {
  background-color: #6042b9;
}
.title:after {
  content: "";
  display: block;
  width: 150px;
  padding-top: 30px;
  border-bottom: 1px solid #ccc;
}

a {
  color: #6042b9;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover {
  color: #7459c4;
}
#menu {
  display: none;
  cursor: pointer;
  float: right;
  color: #7459c4;
  font-size: 2em;
  padding-left: 10px;
  text-align: center;
}

h2,h3,h4,h5,h6 {
  font-weight: normal;
}

.colophon {
  background-color: #f5f8fb;
  padding: 40px 0;
  border: solid #eee;
  border-width: 1px 0;
}
.avi {
	float: left;
	margin-right: 24px;
	width: 48px;
	border-radius: 50%
}
.p-t-100 {
  padding-top: 100px
}
.p-t-40 {
  padding-top: 40px
}
.p-t-20 {
  padding-top: 20px
}
.m-t-20 {
  margin-top: 20px !important
}
.m-b-20 {
  margin-bottom: 20px !important
}
.m-b-40 {
	margin-bottom: 40px
}

.label {
  display: inline-block;
  border-radius: 3px;
  background-color: #d9e5f1;
  padding: 0 7px;
}
a.label {
  background-color: #ef6c7b;
  color: #fff;
}
a.label:hover {
  background-color: #e82f44;
}

footer {
  padding: 50px 0;
}

@media screen and (max-width: 1000px) {
  #menu {
    display: block;
  }
  #logo {
    width: 100%
  }
  .title.p-t-100 {
    padding-top: 40px
  }
  nav {
    display: none;
  }
  nav li {
    display: block;
    margin: 0;
    text-align: left;
  }
  nav li a {
    margin: 0;
    display: block;
    border-bottom: 1px solid #e7e3f5
  }
  nav li a.bordered {
    border-radius: 0;
  }

  article {
    margin: 40px 0;
  }
  .colophon {
    padding: 20px 0
  }
  .avi {
    float: none;
    padding: 10px;
  }
  .author {
    text-align: center;
  }
  .offset-by-three.column, .offset-by-three.columns {
    margin-left: 0
  }
  .six.columns {
    width: 100%
  }
}

@media screen and (min-width: 1000px) {
  #menu {
    display: none;
  }
}
