body{
  line-height: 1.5em;
  font-family: arial;
  color: #444;
  padding-top: 20px
}
a{
  color: #407FBF;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.wrapper{
  width: 600px;
  margin: 0 auto;
}
a{
  color: #407FBF;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}


nav a{
  padding: 0 5px;
  font-size: 90%;
}
header{
  font-family: 'Libre Baskerville', Georgia;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
header h1{
  line-height: 1.2em;
}
.home{
  margin-top: 70px
}
time{
  padding-left: 20px;
}

article{
  padding: 15px;
  font-size: 90%;
  border-bottom: 1px solid #ddd;
}
article img{
  max-width: 570px;
  text-align: center;
}
blockquote{
font-style:italic
}
.post-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.post-list time{
  display: block;
  float: left;
  width: 120px;
  padding: 0 10px 0 0
}
.post-list li{
  clear: both;
  padding: 10px 0;
}
.post-list li a{
  float: left;
}

.highlight pre{
  padding: 10px;
  width: 95%;
  overflow: auto;
}

.paginator{
  border-bottom: 1px solid #ddd;
  font-size: 90%;
  padding: 25px 15px;
  position: relative;
}
.older{
  margin-left: 130px
}
.newer{
  position: absolute;
  left: 15px
}

.center{
  text-align: center
}
.fade{
  color: #aca899;
}


footer{
  font-size: 80%;
  margin:10px 0;
  padding-left: 15px
}
footer a{
  padding: 5px
}


/*
Responsive
*/
@media (max-width : 600px) {
	.wrapper{
		width:100%
	}
}
@media (max-width : 500px) {
	.post-list time{
	float:none
	}
}