<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">

  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>TheFeed.press - Top Articles in your feed</title>
    <style type="text/css">
      a {color: #0166d6;text-decoration: none}
      body {-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6; }
      @media only screen and (max-width: 640px) {
        h1 {font-weight: 600 !important; margin: 20px 0 5px !important; }
        h2 {font-weight: 600 !important; margin: 20px 0 5px !important; }
        h3 {font-weight: 600 !important; margin: 20px 0 5px !important; }
        h4 {font-weight: 600 !important; margin: 20px 0 5px !important; }
        h1 {font-size: 22px !important; } h2 {font-size: 18px !important; }
        h3 {font-size: 16px !important; } .container {width: 100% !important; }
        .content {padding: 10px !important; }
        .content-wrap {padding: 10px !important; }
        .tbl-100 {width: 100% !important; }
      }
    </style>
  </head>

  <body itemscope itemtype="http://schema.org/EmailMessage" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6; margin: 0;">
    <table class="body-wrap" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; margin: 0;">
      <tr style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <td style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
        valign="top"></td>
        <td class="container" width="600" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;"
        valign="top">
          <div class="content" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding:20px;background-color: #f1f5f9">
            <table cellpadding="0" cellspacing="0" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; margin: 0;">
              <tr style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                <td style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 5px 5px 5px 5px;"
                valign="top">
                  <a href="https://thefeed.press/">
                    <img src="http://thefeed.press/assets/images/paper_bird_small.png" width="50">
                  </a>
                   <h1 style="padding:10px 0 0 0;margin: 0"><a href="https://thefeed.press/" style="color:#444">TheFeed.press</a></h1>
                   <h2 style="padding:0;margin: 0" style="color:#555">Top Articles from your feed</h2>
                </td>
              </tr>
            </table>
          </div>
          <div class="feed" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto;">
            <table class="main" width="100%" cellpadding="0" cellspacing="0" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; background: #fff; margin: 0; padding: 0">
              <tr style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                <td class="content-wrap aligncenter" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: center; margin: 0;"
                align="center" valign="top">
                  <table width="100%" cellpadding="0" cellspacing="0" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                    <tr>
                      <td class="content-block" style="box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0;border-bottom: 1px solid #e9e9e9"
                      valign="top">
                        <table class="tbl-100" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; text-align: left; width: 100%">
                          <tr style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                            <td style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding-top:20px"
                            valign="top">
                              <div style="padding: 10px">
                                 <h2 style="padding:5px;margin:0"><a href="http://sunnewsonline.com/senate-to-enact-bill-banning-petrol-vehicles-in-3-years/" style="color:#444;text-decoration:underline;">Senate to enact bill banning petrol vehicles in 3 years</a></h2>

                                <p style="padding:5px;margin:0;">From Samuel Bello, Abuja&nbsp;The Senate would soon enact a bill banning vehicles
                                  that run on Premium Motor Spirit (PMS) otherwise called petrol.Chairman, Senate
                                  Committee on Environment, Oluremi Tinubu, d...</p>
                                <div style="padding: 10px 30px">
                                  <table>
                                    <tr>
                                      <td valign="top">
                                        <img src="https://pbs.twimg.com/profile_images/878062807861927936/3pItojtf_normal.jpg"
                                        style="width:32px;border-radius:16px">
                                      </td>
                                      <td valign="top" style="padding-left:10px">
                                        <p style="margin:0;padding:0">
                                          <a href="https://twitter.com/asemota/status/941071125915815938" style="font-weight:bold;color:#444">@asemota</a>
                                        </p>
                                        <p style="margin:0;padding:0">Ehn? Have they smoked Kwale weed??
                                          <a href="https://twitter.com/doubleeph/status/940837991714615297"
                                          title="https://twitter.com/doubleeph/status/940837991714615297" rel="nofollow"><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span></span>
                                            <span
                                            style='position:absolute;left:-9999px;'>https://</span><span class='js-display-url'>twitter.com/doubleeph/stat</span>
                                              <span
                                              style='position:absolute;left:-9999px;'>us/940837991714615297</span><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span>…</span>
                                          </a>
                                        </p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td valign="top">
                                        <img src="https://pbs.twimg.com/profile_images/687579263768215552/Fjqvs7HH_normal.jpg"
                                        style="width:32px;border-radius:16px">
                                      </td>
                                      <td valign="top" style="padding-left:10px">
                                        <p style="margin:0;padding:0">
                                          <a href="https://twitter.com/DoubleEph/status/940837991714615297" style="font-weight:bold;color:#444">@cchukudebelu</a>
                                        </p>
                                        <p style="margin:0;padding:0">RT @
                                          <a class="tweet-url username" href="https://twitter.com/DoubleEph" data-screen-name="DoubleEph"
                                          rel="nofollow">DoubleEph</a>: My tummy | Senate to enact bill banning petrol vehicles in 3 years
                                          | The Sun News
                                          <a href="http://sunnewsonline.com/senate-to-enact-bill-banning-petrol-vehicles-in-3-years/?utm_content=buffer578bf&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer"
                                          title="https://buff.ly/2nTN6Ji" rel="nofollow"><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span></span>
                                            <span
                                            style='position:absolute;left:-9999px;'>https://</span><span class='js-display-url'>buff.ly/2nTN6Ji</span><span style='position:absolute;left:-9999px;'></span>
                                              <span
                                              class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span></span>
                                          </a>
                                        </p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td valign="top">
                                        <img src="https://pbs.twimg.com/profile_images/721880672470769665/V317_9gu_normal.jpg"
                                        style="width:32px;border-radius:16px">
                                      </td>
                                      <td valign="top" style="padding-left:10px">
                                        <p style="margin:0;padding:0">
                                          <a href="https://twitter.com/EmekaOkoye/status/941055962437378049" style="font-weight:bold;color:#444">@EmekaOkoye</a>
                                        </p>
                                        <p style="margin:0;padding:0">Nigeria is definitely a mumu country.
                                          <a href="https://twitter.com/DoubleEph/status/940837991714615297"
                                          title="https://twitter.com/DoubleEph/status/940837991714615297" rel="nofollow"><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span></span>
                                            <span
                                            style='position:absolute;left:-9999px;'>https://</span><span class='js-display-url'>twitter.com/DoubleEph/stat</span>
                                              <span
                                              style='position:absolute;left:-9999px;'>us/940837991714615297</span><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span>…</span>
                                          </a>
                                        </p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>&nbsp;</td>
                                      <td valign="top" style="padding:10px 0 10px 10px">
                                        <p style="color:#bbb;padding:0;margin:0">a day ago · via sunnewsonline.com</p>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="content-block" style="box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0;border-bottom: 1px solid #e9e9e9"
                      valign="top">
                        <table class="tbl-100" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; text-align: left; width: 100%">
                          <tr style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                            <td style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding-top:20px"
                            valign="top">
                              <a href="https://www.recode.net/2017/12/14/16778268/apple-podcast-find-listens-downloads-analytics-available">
                                <img src="https://images.weserv.nl/?h=250&amp;w=550&amp;t=square&amp;errorredirect=ssl%3Athefeed.press%2Fassets%2Fimages%2F1x1.jpg&amp;url=cdn.vox-cdn.com%2Fthumbor%2FigVri_tGu66ez8MgdLmjQicF_ug%3D%2F0x17%3A772x421%2Ffit-in%2F1200x630%2Fcdn.vox-cdn.com%2Fuploads%2Fchorus_asset%2Ffile%2F9873023%2Fpodcast_hero_hardware_large.jpg"
                                style="width:100%;">
                              </a>
                              <div style="padding: 10px">
                                 <h2 style="padding:5px;margin:0"><a href="https://www.recode.net/2017/12/14/16778268/apple-podcast-find-listens-downloads-analytics-available" style="color:#444;text-decoration:underline;">Apple has finally turned on its podcast analytics feature</a></h2>

                                <p style="padding:5px;margin:0;">Podcast creators — and advertisers — know very little about podcast consumption.
                                  That’s going to change.</p>
                                <div style="padding: 10px 30px">
                                  <table>
                                    <tr>
                                      <td valign="top">
                                        <img src="https://pbs.twimg.com/profile_images/848005240838291458/0tfggmfN_normal.jpg"
                                        style="width:32px;border-radius:16px">
                                      </td>
                                      <td valign="top" style="padding-left:10px">
                                        <p style="margin:0;padding:0">
                                          <a href="https://twitter.com/SkweiRd/status/941428325943308289" style="font-weight:bold;color:#444">@SkweiRd</a>
                                        </p>
                                        <p style="margin:0;padding:0">This is pretty great news -- in general -- for the podcast ecosystem.
                                          <a href="https://twitter.com/Recode/status/941421764252446722"
                                          title="https://twitter.com/Recode/status/941421764252446722" rel="nofollow"><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span></span>
                                            <span
                                            style='position:absolute;left:-9999px;'>https://</span><span class='js-display-url'>twitter.com/Recode/status/</span>
                                              <span
                                              style='position:absolute;left:-9999px;'>941421764252446722</span><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span>…</span>
                                          </a>
                                        </p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td valign="top">
                                        <img src="https://pbs.twimg.com/profile_images/882367610670555136/W9pPyp63_normal.jpg"
                                        style="width:32px;border-radius:16px">
                                      </td>
                                      <td valign="top" style="padding-left:10px">
                                        <p style="margin:0;padding:0">
                                          <a href="https://twitter.com/fkabudu/status/941428453924065281" style="font-weight:bold;color:#444">@fkabudu</a>
                                        </p>
                                        <p style="margin:0;padding:0">Wonderful stuff
                                          <a href="https://twitter.com/Recode/status/941421764252446722"
                                          title="https://twitter.com/Recode/status/941421764252446722" rel="nofollow"><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span></span>
                                            <span
                                            style='position:absolute;left:-9999px;'>https://</span><span class='js-display-url'>twitter.com/Recode/status/</span>
                                              <span
                                              style='position:absolute;left:-9999px;'>941421764252446722</span><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span>…</span>
                                          </a>
                                        </p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td valign="top">
                                        <img src="https://pbs.twimg.com/profile_images/491659145209081856/f2KgYlQz_normal.jpeg"
                                        style="width:32px;border-radius:16px">
                                      </td>
                                      <td valign="top" style="padding-left:10px">
                                        <p style="margin:0;padding:0">
                                          <a href="https://twitter.com/nbashaw/status/941426493372141569" style="font-weight:bold;color:#444">@nbashaw</a>
                                        </p>
                                        <p style="margin:0;padding:0">This is awesome! But there is no API, or even CSV export. Opportunity for an enterprising
                                          engineer to build a scra…
                                          <a href="https://twitter.com/i/web/status/941426493372141569"
                                          title="https://twitter.com/i/web/status/941426493372141569" rel="nofollow"><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span></span>
                                            <span
                                            style='position:absolute;left:-9999px;'>https://</span><span class='js-display-url'>twitter.com/i/web/status/9</span>
                                              <span
                                              style='position:absolute;left:-9999px;'>41426493372141569</span><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span>…</span>
                                          </a>
                                        </p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>&nbsp;</td>
                                      <td valign="top" style="padding:10px 0 10px 10px">
                                        <p style="color:#bbb;padding:0;margin:0">11 hours ago · via Recode</p>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="content-block" style="box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0;border-bottom: 1px solid #e9e9e9"
                      valign="top">
                        <table class="tbl-100" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; text-align: left; width: 100%">
                          <tr style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                            <td style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding-top:20px"
                            valign="top">
                              <a href="https://www.theguardian.com/world/2017/dec/13/canada-human-foot-british-columbia">
                                <img src="https://images.weserv.nl/?h=250&amp;w=550&amp;t=square&amp;errorredirect=ssl%3Athefeed.press%2Fassets%2Fimages%2F1x1.jpg&amp;url=i.guim.co.uk%2Fimg%2Fmedia%2F312bda6e08e1c3a383b56a99a357da9df0eaa64c%2F29_0_6934_4160%2Fmaster%2F6934.jpg%3Fw%3D1200%26amp%3Bh%3D630%26amp%3Bq%3D55%26amp%3Bauto%3Dformat%26amp%3Busm%3D12%26amp%3Bfit%3Dcrop%26amp%3Bcrop%3Dfaces%252Centropy%26amp%3Bbm%3Dnormal%26amp%3Bba%3Dbottom%252Cleft%26amp%3Bblend64%3DaHR0cHM6Ly91cGxvYWRzLmd1aW0uY28udWsvMjAxNi8wNS8yNS9vdmVybGF5LWxvZ28tMTIwMC05MF9vcHQucG5n%26amp%3Bs%3Ddce1168e77c75ee95fd71e5f824500dc"
                                style="width:100%;">
                              </a>
                              <div style="padding: 10px">
                                 <h2 style="padding:5px;margin:0"><a href="https://www.theguardian.com/world/2017/dec/13/canada-human-foot-british-columbia" style="color:#444;text-decoration:underline;">Human foot washes ashore in Canada for 13th time in a decade</a></h2>

                                <p style="padding:5px;margin:0;">Canadian Mike Johns made grisly find on Vancouver Island coastline earlier this
                                  month, the latest in a series that has sparked speculation around the world</p>
                                <div
                                style="padding: 10px 30px">
                                  <table>
                                    <tr>
                                      <td valign="top">
                                        <img src="https://pbs.twimg.com/profile_images/920696287288283136/DCY-dvP1_normal.jpg"
                                        style="width:32px;border-radius:16px">
                                      </td>
                                      <td valign="top" style="padding-left:10px">
                                        <p style="margin:0;padding:0">
                                          <a href="https://twitter.com/guardianworld/status/941016164691578882" style="font-weight:bold;color:#444">@senongo</a>
                                        </p>
                                        <p style="margin:0;padding:0">RT @
                                          <a class="tweet-url username" href="https://twitter.com/guardianworld" data-screen-name="guardianworld"
                                          rel="nofollow">guardianworld</a>: Not the same human foot each time
                                          <a href="https://twitter.com/guardianworld/status/941015146624835584"
                                          title="https://twitter.com/guardianworld/status/941015146624835584" rel="nofollow"><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span></span>
                                            <span
                                            style='position:absolute;left:-9999px;'>https://</span><span class='js-display-url'>twitter.com/guardianworld/</span>
                                              <span
                                              style='position:absolute;left:-9999px;'>status/941015146624835584</span><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span>…</span>
                                          </a>
                                        </p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td valign="top">
                                        <img src="https://pbs.twimg.com/profile_images/938411735228321793/-z0ZEa8Q_normal.jpg"
                                        style="width:32px;border-radius:16px">
                                      </td>
                                      <td valign="top" style="padding-left:10px">
                                        <p style="margin:0;padding:0">
                                          <a href="https://twitter.com/guardianworld/status/941016164691578882" style="font-weight:bold;color:#444">@Pr1y3</a>
                                        </p>
                                        <p style="margin:0;padding:0">RT @
                                          <a class="tweet-url username" href="https://twitter.com/guardianworld" data-screen-name="guardianworld"
                                          rel="nofollow">guardianworld</a>: Not the same human foot each time
                                          <a href="https://twitter.com/guardianworld/status/941015146624835584"
                                          title="https://twitter.com/guardianworld/status/941015146624835584" rel="nofollow"><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span></span>
                                            <span
                                            style='position:absolute;left:-9999px;'>https://</span><span class='js-display-url'>twitter.com/guardianworld/</span>
                                              <span
                                              style='position:absolute;left:-9999px;'>status/941015146624835584</span><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span>…</span>
                                          </a>
                                        </p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>&nbsp;</td>
                                      <td valign="top" style="padding:10px 0 10px 10px">
                                        <p style="color:#bbb;padding:0;margin:0">19 hours ago · via Guardian</p>
                                      </td>
                                    </tr>
                                  </table>
                              </div>
          </div>
          </td>
          </tr>
          </table>
          </td>
          </tr>
          <tr>
            <td class="content-block" style="box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0;border-bottom: 1px solid #e9e9e9"
            valign="top">
              <table class="tbl-100" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; text-align: left; width: 100%">
                <tr style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                  <td style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding-top:20px"
                  valign="top">
                    <a href="https://www.bloomberg.com/news/articles/2017-12-14/bitcoin-trading-thrives-wherever-regulators-crack-down-most">
                      <img src="https://images.weserv.nl/?h=250&amp;w=550&amp;t=square&amp;errorredirect=ssl%3Athefeed.press%2Fassets%2Fimages%2F1x1.jpg&amp;url=assets.bwbx.io%2Fimages%2Fusers%2FiqjWHBFdfxIU%2FiIo5RzGoHqXA%2Fv0%2F1200x796.jpg"
                      style="width:100%;">
                    </a>
                    <div style="padding: 10px">
                       <h2 style="padding:5px;margin:0"><a href="https://www.bloomberg.com/news/articles/2017-12-14/bitcoin-trading-thrives-wherever-regulators-crack-down-most" style="color:#444;text-decoration:underline;">Bitcoin Trading Thrives Wherever Regulators Crack Down Most</a></h2>

                      <p style="padding:5px;margin:0;">Bitcoin trading expanded faster this year in emerging markets than developed ones
                        -- and quickest of all in places where authorities tried to crack down. Somewhere,
                        Satoshi Nakamoto is smiling.</p>
                      <div style="padding: 10px 30px">
                        <table>
                          <tr>
                            <td valign="top">
                              <img src="https://pbs.twimg.com/profile_images/580637458867609600/rirWZm_b_normal.jpg"
                              style="width:32px;border-radius:16px">
                            </td>
                            <td valign="top" style="padding-left:10px">
                              <p style="margin:0;padding:0">
                                <a href="https://twitter.com/BBoason/status/941201673225195520" style="font-weight:bold;color:#444">@DejiAnubi</a>
                              </p>
                              <p style="margin:0;padding:0">RT @
                                <a class="tweet-url username" href="https://twitter.com/BBoason" data-screen-name="BBoason"
                                rel="nofollow">BBoason</a>:
                                <a href="https://twitter.com/#!/search?q=%23Nigeria" title="#Nigeria"
                                class="tweet-url hashtag" rel="nofollow">#Nigeria</a>is the 2nd most active country where
                                <a href="https://twitter.com/#!/search?q=%23Bitcoin"
                                title="#Bitcoin" class="tweet-url hashtag" rel="nofollow">#Bitcoin</a>is traded globally, after
                                <a href="https://twitter.com/#!/search?q=%23China"
                                title="#China" class="tweet-url hashtag" rel="nofollow">#China</a>
                                <a href="https://twitter.com/Schuldensuehner/status/941197982522839043"
                                title="https://twitter.com/Schuldensuehner/status/941197982522839043" rel="nofollow"><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span></span>
                                  <span
                                  style='position:absolute;left:-9999px;'>https://</span><span class='js-display-url'>twitter.com/Schuldensuehne</span>
                                    <span
                                    style='position:absolute;left:-9999px;'>r/status/941197982522839043</span><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span>…</span>
                                </a>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top">
                              <img src="https://pbs.twimg.com/profile_images/939751498065596421/T34acYk3_normal.jpg"
                              style="width:32px;border-radius:16px">
                            </td>
                            <td valign="top" style="padding-left:10px">
                              <p style="margin:0;padding:0">
                                <a href="https://twitter.com/Schuldensuehner/status/941197982522839043" style="font-weight:bold;color:#444">@FatherMerry</a>
                              </p>
                              <p style="margin:0;padding:0">RT @
                                <a class="tweet-url username" href="https://twitter.com/Schuldensuehner" data-screen-name="Schuldensuehner"
                                rel="nofollow">Schuldensuehner</a>: The power of people:
                                <a href="https://twitter.com/#!/search?q=%23Bitcoin"
                                title="#Bitcoin" class="tweet-url hashtag" rel="nofollow">#Bitcoin</a>trading thrives wherever regulators crack down most
                                <a href="https://www.bloomberg.com/news/articles/2017-12-14/bitcoin-trading-thrives-wherever-regulators-crack-down-most"
                                title="https://www.bloomberg.com/news/articles/2017-12-14/bitcoin-trading-thrives-wherever-regulators-crack-down-most"
                                rel="nofollow"><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span></span>
                                  <span
                                  style='position:absolute;left:-9999px;'>https://www.</span><span class='js-display-url'>bloomberg.com/news/articles/</span>
                                    <span
                                    style='position:absolute;left:-9999px;'>2017-12-14/bitcoin-trading-thrives-wherever-regulators-crack-down-most</span>
                                      <span
                                      class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span>…</span>
                                </a>https://t.co…</p>
                            </td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:10px 0 10px 10px">
                              <p style="color:#bbb;padding:0;margin:0">20 hours ago · via Bloomberg.com</p>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="content-block" style="box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0;border-bottom: 1px solid #e9e9e9"
            valign="top">
              <table class="tbl-100" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; text-align: left; width: 100%">
                <tr style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                  <td style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding-top:20px"
                  valign="top">
                    <a href="https://www.bloomberg.com/news/articles/2017-12-14/nigeria-takes-1-billion-from-oil-savings-to-fight-boko-haram">
                      <img src="https://images.weserv.nl/?h=250&amp;w=550&amp;t=square&amp;errorredirect=ssl%3Athefeed.press%2Fassets%2Fimages%2F1x1.jpg&amp;url=assets.bwbx.io%2Fimages%2Fusers%2FiqjWHBFdfxIU%2Fil_rljJ4qCpQ%2Fv1%2F1200x627.jpg"
                      style="width:100%;">
                    </a>
                    <div style="padding: 10px">
                       <h2 style="padding:5px;margin:0"><a href="https://www.bloomberg.com/news/articles/2017-12-14/nigeria-takes-1-billion-from-oil-savings-to-fight-boko-haram" style="color:#444;text-decoration:underline;">Nigeria Takes $1 Billion From Oil Savings to Fight Boko Haram</a></h2>

                      <p style="padding:5px;margin:0;">Nigeria will take $1 billion from a special account for oil-revenue savings to
                        boost its war against Boko Haram Islamist militants in the country’s northeast.</p>
                      <div
                      style="padding: 10px 30px">
                        <table>
                          <tr>
                            <td valign="top">
                              <img src="https://pbs.twimg.com/profile_images/878062807861927936/3pItojtf_normal.jpg"
                              style="width:32px;border-radius:16px">
                            </td>
                            <td valign="top" style="padding-left:10px">
                              <p style="margin:0;padding:0">
                                <a href="https://twitter.com/MatthewTPage/status/941369402661904384" style="font-weight:bold;color:#444">@asemota</a>
                              </p>
                              <p style="margin:0;padding:0">RT @
                                <a class="tweet-url username" href="https://twitter.com/MatthewTPage" data-screen-name="MatthewTPage"
                                rel="nofollow">MatthewTPage</a>: PMB withdraws $1 billion in ‘security vote’ from ECA. I know
                                how this story ends.
                                <a href="https://twitter.com/yibukun/status/941366662242144257"
                                title="https://twitter.com/yibukun/status/941366662242144257" rel="nofollow"><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span></span>
                                  <span
                                  style='position:absolute;left:-9999px;'>https://</span><span class='js-display-url'>twitter.com/yibukun/status</span>
                                    <span
                                    style='position:absolute;left:-9999px;'>/941366662242144257</span><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span>…</span>
                                </a>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top">
                              <img src="https://pbs.twimg.com/profile_images/2815668332/2690aad7ce581d11331d13a66cfd16ed_normal.jpeg"
                              style="width:32px;border-radius:16px">
                            </td>
                            <td valign="top" style="padding-left:10px">
                              <p style="margin:0;padding:0">
                                <a href="https://twitter.com/YIbukun/status/941366662242144257" style="font-weight:bold;color:#444">@eggheader</a>
                              </p>
                              <p style="margin:0;padding:0">RT @
                                <a class="tweet-url username" href="https://twitter.com/YIbukun" data-screen-name="YIbukun"
                                rel="nofollow">YIbukun</a>: Nigeria's dipping into its "rainy-day" fund to fight an 8-year old
                                insurgency
                                <a href="https://www.bloomberg.com/news/articles/2017-12-14/nigeria-takes-1-billion-from-oil-savings-to-fight-boko-haram"
                                title="https://www.bloomberg.com/news/articles/2017-12-14/nigeria-takes-1-billion-from-oil-savings-to-fight-boko-haram"
                                rel="nofollow"><span class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span></span>
                                  <span
                                  style='position:absolute;left:-9999px;'>https://www.</span><span class='js-display-url'>bloomberg.com/news/articles/</span>
                                    <span
                                    style='position:absolute;left:-9999px;'>2017-12-14/nigeria-takes-1-billion-from-oil-savings-to-fight-boko-haram</span>
                                      <span
                                      class='tco-ellipsis'><span style='position:absolute;left:-9999px;'>&nbsp;</span>…</span>
                                </a>via @
                                <a class="tweet-url username" href="https://twitter.com/business" data-screen-name="business"
                                rel="nofollow">business</a>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:10px 0 10px 10px">
                              <p style="color:#bbb;padding:0;margin:0">4 hours ago · via Bloomberg.com</p>
                            </td>
                          </tr>
                        </table>
                    </div>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          </table>
          </td>
          </tr>
          </table>
          <div class="footer" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;">
            <table width="100%" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
              <tr style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                <td class="aligncenter content-block" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; text-align: center; margin: 0; padding: 0 0 20px;"
                align="center" valign="top">
                  <p style="padding: 5px; margin: 0">To stop receiving daily top articles from your feed,
                    <a href="https://thefeed.press/unsubscribe"
                    style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 12px; color: #667; text-decoration: underline; margin: 0;">unsubscribe</a>.</p>
                  <p style="padding: 5px; margin: 0">Questions, feedback, hello? Email
                    <a href="mailto:hello@thefeed.press" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 12px; color: #667; text-decoration: underline; margin: 0;">hello@thefeed.press</a>
                  </p>
              </tr>
            </table>
          </div>
          </div>
          </td>
          <td style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
          valign="top"></td>
      </tr>
    </table>
  </body>

</html>
