* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #3a7bcd;
}
a.active {
  font-weight: 600;
  color: #444;
}
p, form {
  margin: 0;
  padding: 5px 0;
}

.float-right{
  float: right;
}

header {
  position: relative;
  background-color: #000
}

.hero {
  background-image: url(../images/background.jpg);
  background-size: cover;
  color: #ddd;
  padding: 20px 0;
}
.hero.bg2 {
  background-image: url(../images/background-2.jpg);
}
.hero h5 {
  margin-bottom: 5px
}
.hero h3 {
  color: #fff;
}
.center {
  text-align: center
}
section {
  padding: 20px;
}

.list {
  list-style: none;
}
.list a {
  color: inherit;
  display: block
}
.list li {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.list.white-border li{
  border-bottom: 1px solid #fff;
}
.list li:last-child {
  border: 0;
}
.list img {
  display: block
}
.list img.bgimg {
  width: 100%;
  height: 100px;
  background-color: #ddd;
  object-fit: contain;
}

.list img.fimg {
  float: left;
  width: 30%;
  margin: 20px 20px 20px 0;
}

.fade {
  color: #777;
}
.bg-grey {
  background-color: #f3f3f3
}

/*
Button override
*/
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #222;
  background-color: #f06c34;
  border-color: #f06c34; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  text-decoration: none;
  color: #222;
  background-color: #d43e2f;
  border-color: #d43e2f; }

.button.button-fb,
button.button-fb,
input[type="submit"].button-fb,
input[type="reset"].button-fb,
input[type="button"].button-fb {
  color: #FFF;
  background-color: #3b5998;
  border-color: #3b5998; }
.button.button-fb:hover,
button.button-fb:hover,
input[type="submit"].button-fb:hover,
input[type="reset"].button-fb:hover,
input[type="button"].button-fb:hover,
.button.button-fb:focus,
button.button-fb:focus,
input[type="submit"].button-fb:focus,
input[type="reset"].button-fb:focus,
input[type="button"].button-fb:focus {
  color: #FFF;
  background-color: #2d4473;
  border-color: #2d4473; }
/*
Menu
*/
body:after {
  background: rgba(21, 89, 148, 0.95);
  content: '';
  height: 100%;
  left: 0;
  display: none;
  overflow: auto;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  display: none
}
body.open {
  overflow: hidden;
}
body.open:after {
  display: block;
}

.b-nav ul {
  border-bottom: 1px solid #1d7dcf;
  margin-bottom: 0
}
.b-nav ul:last-child {
  border: 0;
}
.b-nav {
  position: absolute;
  z-index: 11;
}
.b-nav:not(.open) {
  display: none;
}
.b-nav li a {
  color: #d1e6f9;
  padding: 5px 10px 5px 20px;
  display: block;
}
.b-nav li {
  list-style-type: none;
  margin: 0;
  text-align: left;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
}
.b-nav li:not(.open) {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: slideOutLeft;
          animation-name: slideOutLeft;
}
.b-nav ul:first-child li:first-child {
  padding-top: 120px;
}
.b-nav.open {
  display: block;
}
.b-nav.open li {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}

.b-link {
  background: transparent;
  border-left: rgba(68, 68, 68, 0) solid 2px;
  color: #444444;
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-left: 30px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: auto;
}
.b-link:hover, .b-link--active {
  border-left: #444444 solid 2px;
  padding-left: 30px;
}

.b-menu {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  padding-left: 15.5px;
  padding-top: 17.5px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 60px;
  z-index: 12;
}
.b-menu:hover {
}

.b-bun {
  background: #ddd;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.b-bun--top {
  height: 2px;
  top: 0;
  width: 25px;
}
.b-bun--mid {
  height: 2px;
  top: 8px;
  width: 25px;
}
.b-bun--bottom {
  height: 2px;
  top: 16px;
  width: 25px;
}

.b-brand {
  color: white;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 13;
}
.b-brand img {
  padding: 15px 0;
  max-height: 100%
}

.b-container {
  height: 60px;
}
.b-container:hover:not(.open) .bun-top,
.b-container:hover:not(.open) .bun-mid,
.b-container:hover:not(.open) .bun-bottom {
  background: white;
}
.b-container.open .b-main {
  border: #444444 solid 2px;
}
.b-container.open .b-bun--top {
  background: #ddd;
  top: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.b-container.open .b-bun--mid {
  opacity: 0;
}
.b-container.open .b-bun--bottom {
  background: #ddd;
  top: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.b-container.open .b-brand {
  color: #444444;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}
@keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}
