* {
	margin: 0;
	padding: 0;
}
*:focus {
    outline: none;
}
body {
	font-family: montserrat;
  line-height: 1.6;
	background-color: #eee;
	background-size: 400% 400%;
}
h1, h2, h3, h4 {
	font-weight: 700;
	text-shadow: 1px 1px 1px #000
}
h2 {
  font-size: 18px;
}
p {
	margin: 0;
}
hr {
	margin-bottom: 5px;
	border-top: 1px solid #fed4d4;
}
input[type=range] {
	width: 70%;
	margin: 10px 20px;
}
a {
	color: #f1e695;
}
a:hover {
	color: #e9d859;
}

.lead {
  display: block;
  width: 400px;
  margin: 20px auto;
  padding: 5px;
  border: 1px solid #777;
}

.container {
	margin: 20px auto 0;
	width: 960px;
	/*width: 100%;*/
	padding: 0;
	position: relative;
}
.canvas-wrp, .logo-wrp {
	float: left;
}
.logo-wrp {
	padding: 20px;
	box-sizing: border-box;
}
.logo-wrp img{
	border: 5px solid transparent;
	width: 100%
}
.logo-wrp img.active {
	border-color: #390;
}
.image-wrp img {
	width: 100%;
}
.canvas-wrp {
	width: 640px
}
.logo-wrp {
	width: 300px;
	margin-top: 50px;
	text-align: center
}
.logo-wrp img {
	cursor: pointer;
}
.row:after {
  content: "";
  display: table;
  clear: both; }

.hide {
	display: none;
}
p {
	margin: 10px 0;
}
.center {
	text-align: center;
}

button.add {
  height:auto;
  background-color: #111;
  border-color: 1px solid #111;
  color: #fff;
  font-size: 1em;
  line-height:auto;
  padding:10px 40px;
  margin:10px 20px
}
.store-links img {
  width: 25%;
}
.cover-a {
  display: none;
}
.cover-b {
  display: block;
}

.video-wrp {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrp iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button,
button,
button:focus {
	display: inline-block;
	background-color: #111;
	text-decoration: none;
	border: 1px solid #fff;
	font-size: 90%;
	font-weight: bold;
	color: #fff;
	line-height: 38px;
	padding: 5px 30px;
	border-radius: 5px;
}
a.button:hover,
button:hover {
	border-color: 1px solid #fff;
  background-color: #444;
}

@media (min-width: 750px) {
  button.add {
    font-size: 1em;
    padding: 10px 40px;
  }
  h2 {
    font-size: 1.4em;
  }
  .store-links img {
    width: auto
  }
  .cover-a {
    display: block;
  }
  .cover-b {
    display: none;
  }
}
