.container {
  max-width: 100%;
}
@media (min-width: 550px) {
  .container {
    width: 100%; }
}

body {
  background-color: #fefefe;
  color: #555;
  font-family: 'Open Sans',sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: Chonburi;
}
a {
  color: #667;
  text-decoration: none;
}

strong {
  font-weight: 600
}
.center {
  text-align: center
}

section {
  padding: 0;
}
.bg {
  margin: 0;
  color: #fff;
  background: linear-gradient(
      rgba(35, 35, 35, 0.9),
      rgba(35, 35, 35, 0.9)
    ), url('../images/bg.jpg') top left;
  background-size: cover;
}
.ttl {
  color: #fff;
}
.ttl-alt {
  color: #321417;
}
.box {
  margin: 100px 0;
  color: #f6e9eb;
  padding: 20px;
}

.pad {
  padding: 10px;
}

header {
  padding: 20px;
}
header ul {
  list-style: none;
}
header li{
  padding: 5px;
  font-size: 12px;
}
header a {
  color: #f4d7dc;
  text-decoration: none;
  text-transform: uppercase;
}
header a:hover {
  color: #fff;
  transition: all ease .5s;
}

.hero {
  margin: 300px 0 150px;
  padding: 30px 0;
  border: solid rgba(250, 242, 244, 0.3);
  border-width: 0 0 1px 0;
  /*background-color: rgba(250, 242, 244, 0.3);*/
}
.hero h5 {
  margin: 0;
  font-family: 'Scope One';
}

.fade {
  color: #888;
}
.error {
  color: #EA2028;
}
.info {
  color: #58bb36;
}

footer {
  padding: 30px 0;
  background-color: #222
}
footer a {
  color: #888;
}
footer a:hover {
  color: #fff;
}

/*
Button override
*/
.button.button-primary,
button.button-primary,
.button.button-secondary,
button.button-secondary
{
  color: #fff;
  background-color: transparent;
  transition: all ease .5s;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  border-color: #fff; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #444;
  background-color: #b7bec3;
  border-color: #b7bec3; }

.button.button-secondary,
button.button-secondary,
input[type="submit"].button-secondary,
input[type="reset"].button-secondary,
input[type="button"].button-secondary {
  border-color: #3b1d51; }
.button.button-secondary:hover,
button.button-secondary:hover,
input[type="submit"].button-secondary:hover,
input[type="reset"].button-secondary:hover,
input[type="button"].button-secondary:hover,
.button.button-secondary:focus,
button.button-secondary:focus,
input[type="submit"].button-secondary:focus,
input[type="reset"].button-secondary:focus,
input[type="button"].button-secondary:focus {
  color: #FFF;
  background-color: #3b1d51; }
