<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="twitter:site" content="@kehers">
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <title>{{ page.title }} | Opeyemi's BS</title>
  <link href="http://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="/assets/css/zenburn.css" />
  <link rel="alternate" type="application/atom+xml" title="Feed for blog posts" href="/feed.xml">
</head>
<body>
  <div class="wrapper">
    <nav>
      <a href="/">home</a> &middot; <a href="/posts.html">posts</a> &middot; <a href="/feed.xml">feed</a>
    </nav>
    <header>
        <h1>{{ page.title }}</h1>
        <time>{{ page.date | date_to_string }}</time>
    </header>
    <article>
        {{ content }}
        <p></p>
        <em><a href="http://twitter.com/kehers">Discuss on twitter.</a></em>
  		<p></p>
      
        {% for post in site.posts %}
            {% if post.url == page.url %}
                {% assign post_index = forloop.index %}                        
            {% endif %}
        {% endfor %}
        {% for post in site.posts %}
            {% if post_index == forloop.index0 %}
                {% assign next_url = post.url %}
                {% assign next_title = post.title %}
            {% endif %}
        {% endfor %}
        {% if next_url %}
        <aside>
            <p><strong>next:</strong><br />
            <a href="{{ next_url }}">{{ next_title }}</a></p>
        </aside>
        {% endif %}
      <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'kehers'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
    </article>

    <footer>
      <a href="/">home</a> &middot; <a href="posts.html">posts</a> &middot; <a href="http://github.com/kehers/kehers.github.com">source</a> &middot; <a href="http://twitter.com/kehers">@kehers</a>
    </footer>
  </div>
</body>
</html>