<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>My log of BS</title>
  <link href="http://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="assets/css/style.css" />
</head>
<body>
  <div class="wrapper">
    <nav>
      <a href="/">home</a>
    </nav>
    <header>
        <h1>Here is my log of BS. Seriously.</h1>
    </header>
    <article>
      <ul class="post-list">
        {{ content }}

    <footer>
      <a href="/">home</a> &middot; <a href="http://github.com/kehers/kehers.github.com">source</a> &middot; <a href="http://twitter.com/kehers">@kehers</a>
    </footer>
  </div>
</body>
</html>