<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta content="article" property="og:type">
  <meta property="og:description" content="{{ content | strip_html | truncate: 200 }}" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@kehers">
  <meta name="twitter:creator" content="@kehers">
  <title>{{ page.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/tachyons.css">
  <link rel="stylesheet" href="/assets/css/custom.css?021221">
  <link rel="stylesheet" href="/assets/css/monokai.css" />
  <link rel="alternate" type="application/atom+xml" title="Blog post feed" href="/feed.xml">
</head>
<body>

  <div class="center w-800 pa4">
    <nav class="mb5">
      <a href="/opeyemi">Home</a> <span class="di mh2">·</span> <a href="/posts" class="active">Blog Posts</a> <span class="di mh2">·</span> <a href="http://everygood.co/" target="_blank">Projects</a>
    </nav>

    <section>
      <article>
        <date class="fade">{{ page.date | date_to_string }}</date>
        <h1 class="lh-title mb5">{{ page.title }}</h1>
        {{ content }}
      </article>

      <h3>&nbsp;</h3>

      <div class="pa4" style="background-color:#fafafa;border:1px solid #eee">Looking for a simple marketing automation tool to automate your customer onboarding, retention and lifecycle emails? <a href="https://engage.so/?ref=obem.be">Check out Engage</a> and signup for free.</div>

      <h3>&nbsp;</h3>
      <p>My name is Opeyemi Obembe. I build things for web and mobile and write about my experiments. Follow me on Twitter—<a href="http://twitter.com/kehers">@kehers</a>.</p>
      <p>&nbsp;</p>

      {% for post in site.posts %}
          {% if post.url == page.url %}
              {% assign post_index = forloop.index %}
          {% endif %}
      {% endfor %}
      {% for post in site.posts %}
          {% if post_index == forloop.index0 %}
              {% assign next_url = post.url %}
              {% assign next_title = post.title %}
          {% endif %}
      {% endfor %}
      {% if next_url %}
      <p class="b">Next post: <a href="{{ next_url }}">{{ next_title }}</a></p>
      {% endif %}
    </section>
  </div>

  <div class="colophon">
    <div class="w-800 center">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'kehers';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
      </div>
    </div>
  </div>

{% include footer.html %}
