<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <title>My log of BS</title>
  <link href="http://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet" type="text/css">
  <link rel="alternate" type="application/atom+xml" title="Blog post feed" href="/feed.xml">
  <link rel="stylesheet" href="assets/css/style.css" />
</head>
<body>
  <div class="wrapper">
    <nav>
      <a href="/">home</a> &middot; <a href="/feed.xml">feed</a>
    </nav>
    <header>
        <h1>Code, Thoughts, Ideas, Experiments and Rants.</h1>
    </header>
    <article>
      <ul class="post-list">
        {{ content }}

    <footer>
      <a href="/">home</a> &middot; <a href="http://github.com/kehers/kehers.github.com">source</a> &middot; <a href="http://twitter.com/kehers">@kehers</a>
    </footer>
  </div>
</body>
</html>