<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@kehers">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ content | strip_html | truncate: 200 }}">
  <meta name="twitter:creator" content="@kehers">
  <title>{{ page.title }}</title>
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/skeleton.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="stylesheet" href="/assets/css/zenburn.css" />
  <link rel="alternate" type="application/atom+xml" title="Blog post feed" href="/feed.xml">
</head>
<body>

<div class="container">
  <header>
    <div class="row">
      <div id="logo" class="three columns">
      <div id="menu"><img src="images/hamburger.png"></div>
      <h3><a href="/">/opeyemi</a></h3>
    </div>
      <nav class="nine columns">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/posts.html">Posts</a></li>
          <li><a href="/feed.xml">RSS Feed</a></li>
          <li><a href="http://gum.co/Sxoj" class="bordered">Consuming REST APIs - a soft introduction</a></li>
      </ul>
      </nav>
    </div>
  </header>
  <div class="row">
    <div class="six offset-by-three columns">
      <article>
        <date>{{ page.date | date_to_string }}</date>
        <h1 class="title">{{ page.title }}</h1>
        {{ content }}
      </article>
    </div>
  </div>
</div>
<div class="colophon">
  <div class="container">
    <div class="row">
      <div class="author six offset-by-three columns">
        <img src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xfp1/t51.2885-15/e15/10617063_553407278119581_1973098870_n.jpg" class="avi"> <p>My name is Opeyemi Obembe. I build things for web and mobile. You should follow me on Twitter (<a href="http://twitter.com/kehers">@kehers</a>).</p>
      </div>
    </div>
    <div class="row p-t-20">
      <div class="six offset-by-three columns">
        {% for post in site.posts %}
            {% if post.url == page.url %}
                {% assign post_index = forloop.index %}
            {% endif %}
        {% endfor %}
        {% for post in site.posts %}
            {% if post_index == forloop.index0 %}
                {% assign next_url = post.url %}
                {% assign next_title = post.title %}
            {% endif %}
        {% endfor %}
        {% if next_url %}
        <article class="m-t-20">
          <h4 class="title m-b-20">Next post</h4>
          <h5 class="libre no-margin"><a href="{{ next_url }}">{{ next_title }}</a></h5>
        </article>
        {% endif %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'kehers';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}