---
layout: none
published: true
---


<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Obembe Opeyemi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/atom+xml" title="Blog post feed" href="/feed.xml">

  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/skeleton.css">
  <link rel="stylesheet" href="/assets/css/custom.css?a">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="six offset-by-three columns">
		<h3 class="title p-t-100">/opeyemi</h3>
		<h5>My name is Opeyemi Obembe. I build things for web and mobile.</h5>
		<h3 class="title p-t-20 m-b-40">Startups</h3>
			<h5 class="libre no-margin"><a href="http://callbase.co/">Callbase</a></h5>
			<p>The perfect Call Center for distributed teams</p>
			<h5 class="libre no-margin"><a href="http://fonenode.com/">Fonenode</a></h5>
			<p>Telephony API for Nigeria</p>
			<h5 class="libre no-margin"><a href="http://prowork.me/">Prowork</a></h5>
			<p>Project management app for team collaboration</p>

      <h3 class="title p-t-40">Projects (client; selected)</h3>
      <h5 class="libre no-margin"><a href="http://gomyway.com/">Gomyway</a></h5>
      <p>Led development of the ride sharing platform</p>
      <h5 class="libre no-margin">IamRed</h5>
      <p>Developed Tiwa Savage's RED album meme generator</p>

		  <h3 class="title p-t-40">Projects (personal)</h3>
      <h5 class="libre no-margin"><a href="https://suet.co/">suet.co</a></h5>
      <p>Analytics for your Mailgun transactional mails</p>
			<h5 class="libre no-margin"><a href="http://thefeed.press">TheFeed.press</a></h5>
  		<p>Easily follow articles shared by your Twitter friends</p>
      <h5 class="libre no-margin"><a href="http://billtab.co/">Billtab (v2)</a></h5>
      <p>A second attempt at an earnings and expenses tracker. Automatically checks your bank transaction emails and makes sense out of it <a href="http://github.com/kehers/billtab" class="label">v1 opensource</a></p>
			<h5 class="libre no-margin"><a href="http://gum.co/Sxoj">Consuming REST APIs - a soft introduction</a></h5>
  		<p>A soft introduction to consuming REST APIs. <span class="label">ebook</span> <a href="http://consumingrestapis.github.io" class="label">web version</a></p>
    	<h5 class="libre no-margin"><a href="http://github.com/kehers/fave">Fave</a></h5>
    	<p>Send links in tweets you fav to your Pocket account. <a href="http://github.com/kehers/fave" class="label">v1 opensource</a></p>
			<h5 class="libre no-margin"><a href="#">Pricecrunch</a></h5>
			<p>Track price changes of your favourite products across your favourite stores. <span class="label">sunsetted</span></p>
    	<h5 class="libre no-margin"><a href="https://github.com/kehers/tinypress">Tinypress</a></h5>
    	<p>Create and easily manage your blog on Github <a href="http://github.com/kehers/billtab" class="label">v1 opensource</a></p>
			<h5 class="libre no-margin"><a href="https://github.com/kehers/tinypress-android-v1">Tinypress for Android</a></h5>
			<p>Android client for Tinypress <a href="https://github.com/kehers/tinypress-android-v1" class="label">opensource</a></p>
			<h5 class="libre no-margin"><a href="https://github.com/kehers/snag-android">Snag</a></h5>
			<p>An experimental spam filter for Android. <span class="label">android</span> <span class="label">uncompleted</span> <a href="https://github.com/kehers/snag-android" class="label">opensource</a></p>
			<h5 class="libre no-margin"><a href="http://subcopy.tumblr.com/">Subcopy</a></h5>
			<p>A tumblog of interesting copy across web and mobile apps</p>

		<h3 class="title p-t-20">Posts (<a href="/posts.html">all</a>)</h3>
			{% for post in site.posts limit:5 %}
				<h5 class="libre no-margin"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h5>
				<p>{{ post.date | date_to_string }}</p>
			{% endfor %}
	</div>
  </div>
</div>

{% include footer.html %}
