---
layout: none
published: true
---


<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Obembe Opeyemi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/atom+xml" title="Blog post feed" href="/feed.xml">

  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/skeleton.css">
  <link rel="stylesheet" href="/assets/css/custom.css?a">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="six offset-by-three columns">
    <h3 class="title p-t-100">/opeyemi</h3>
    <p>My name is Opeyemi Obembe. I build things for web and mobile.</p>
    <p>In my over 15 years of doing this, I have cofounded a <a href="https://prowork.me/">project management</a> app, <a href="http://fonenode.com/">two</a> <a href="http://callbase.co/">telephony</a> startups, a <a href="http://writerack.com/">tweetstorm app</a>; built, sunsetted and sold personal <a href="https://www.producthunt.com/posts/tinypress">projects</a> used <a href="https://www.google.com/search?q=twhii">globally</a> and helped people build their own <a href="https://www.google.com/search?q=gomyway">startups</a> and <a href="http://techcabal.com/2015/12/23/mavin-is-promoting-tiwa-savages-r-e-d-album-with-a-meme-generator/">projects</a>.</p>
    <p>I am learning to build all over again. You can follow my personal experiments at <a href="http://everygood.co/">everygood.co</a></p>

    <h3 class="title p-t-20">Posts (<a href="/posts.html">all</a>)</h3>
      {% for post in site.posts limit:5 %}
        <h5 class="libre no-margin"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h5>
        <p>{{ post.date | date_to_string }}</p>
      {% endfor %}
  </div>
  </div>
</div>

{% include footer.html %}
