/*@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}*/

body {
	color: #fff;
	background: linear-gradient(270deg, #cf0404, #180101);
	background-size: 400% 400%;
	/*-webkit-animation: AnimationName 60s ease infinite;
	-moz-animation: AnimationName 60s ease infinite;
	animation: AnimationName 60s ease infinite;*/
}
h1, h2, h3, h4 {
	font-family: 'Oswald',sans-serif;
	font-weight: 700;
	text-shadow: 1px 1px 1px #000;
	margin-bottom: 0;
}
.sweet-alert h2 {
	text-shadow: none;
	font-family: inherit;
}
p {
	margin: 0;
}
hr {
	margin: 2rem 0;
	border-top: 1px solid #fed4d4;
}
a {
	color: #f1e695;
}
a:hover {
	color: #e9d859;
}

.image-grid img {
	display: block;
	float:left;
	width: 25%;
}
@media (max-width: 900px) {
	.image-grid img {
		width: 50%;
	}
}


.btn-container {
	text-align: center;
	margin-top: 20px;
	width: 640px;
	display:none;
}
.loader {
	margin-top:10%;
	text-align:center;
}
.loader img{
	width: 128px;
}
.frame {
	margin-top: 20px;
	padding: 30px;
	border: 5px solid #fff;
	background-image: url('../images/overlay.png');
	background-size: cover;
}
.text-red {
	color: #db402b;
	position:relative;
}
.bg-white {
	background-color: #fff5f5;
	float: left;
	margin-right: 5px;
	margin-top:5px;
}
#avi {
	width: 100%;
	display:block;
	margin: 30px 0 20px;
	border: 5px solid #fff;
}

.hide {
	display: none;
}
p {
	margin: 10px 0;
}
input[type='range'] {
	display: inline-block;
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    width: 80%;
    height: 10px;
    margin: 20px 0;
    vertical-align: middle;
}
input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}

input[type=text] {
	background-color: transparent;
	font-family: 'Oswald', sans-serif;
	border: 0;
	padding: 2px 0 0 2px;
	width: 75%;
	border-bottom: 2px solid #fed4d4;
	height: auto;
	font-size: 36px;
	margin-bottom: 0;
	border-radius: 0;
	color: #fff;
}
input[type=text]:focus {
	border: 0;
	border-bottom: 1px solid #fed4d4;
}

.loader {
	margin-top:10%;
	text-align:center;
}
.loader img{
	width: 128px;
}

.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	color: #444;
	position:absolute;
	display: none;
	z-index: 9999;
	width:320px;
	max-height: 200px;
	height: 200px;
	left:80px;
	overflow: auto;
}
.autocomplete-suggestion { padding: 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-suggestion:hover { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; }
.autocomplete-title {
	font-weight: bold;
	padding: 10px 10px 10px 5px;
	background-color: #f2f4fa;
	color: #000;
 }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.dd {
	background-color:#fff;padding:10px;border-radius:40px;
	position: absolute;
	right: 10px;
	bottom: 6px;
}


.button,
button,
button:focus {
	background-color: transparent;
	border-color: #fff;
	height: auto;
	padding: 5px 30px;
	border-radius: 5px;
	color: #fff;
}
.button,
button:hover {
	background-color: #fff;
	color: #444;
}